{% extends "base.html" %}
{% block content %}

<!--Password Reset Confirm-->
    <section class="blog-details spad">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <h2 class="font-weight-bold mt-3">Confirmación de restablecimiento de contraseña</h2>
                    <hr />
                    <p>Por favor, ingrese su nueva contraseña.</p>
                    <form method="POST">
                        {% csrf_token %} {{ form }}
                        <button class="btn btn-primary" type="submit">Restablecer contraseña</button>
                    </form>
                </div>
            </div>
        </div>
    </section>


{% endblock %}
