{% extends 'base.html' %}

{% block content %}

    <!--Password reset sent-->

    <section class="blog-details spad">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <h2 class="font-weight-bold mt-3">Solicitud de cambio de contraseña</h2>
                    <hr />
                    <p>
                    Se ha enviado un correo con instrucciones para restablecer su
                    contraseña. Si no lo ha recibido aún, revise si el correo que ingresó
                    es el mismo que usó al creas su cuenta, o revise su carpeta de spam.
                    </p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
