{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h3>Recetas</h3>
    <hr>
    <a class="btn" role="button" href="{% url 'crear_receta' %}">Agregar receta</a>
    <hr>
    <!-- ----------------------------- -->

    <form class="form-inline mb-5" method="GET">
        

        <div class="form-group mx-3">
            <label class="mr-2">Buscar por nombre de receta:</label>
            {% if not nombreReceta %}
            <input type="text" class="form-control mr-2" name="nombre-receta">  
            {% else %}
            <input type="text" class="form-control mr-2" name="nombre-receta" value="{{nombreReceta}}">  
            {% endif %}
        </div>        

        <div class="form-group mx-3">
            <label class="mr-2">Buscar por tipo de receta:</label>

            <select class="form-control mr-2" name="tipo-receta">
                {% ifequal tipoReceta '' %}
                <option value="Todos" selected="selected">Todos</option>
                {% else %}
                <option value="Todos">Todos</option>
                {% endifequal %}

                {% ifequal tipoReceta 'Pasteles' %}
                <option value="Pasteles" selected="selected">Pasteles</option>
                {% else %}
                <option value="Pasteles">Pasteles</option>
                {% endifequal %}

                {% ifequal tipoReceta 'Postres' %}
                <option value="Postres" selected="selected">Postres</option>
                {% else %}
                <option value="Postres">Postres</option>
                {% endifequal %}

                {% ifequal tipoReceta 'Comidas' %}
                <option value="Comidas" selected="selected">Comida</option>
                {% else %}
                <option value="Comidas">Comida</option>
                {% endifequal %}

                {% ifequal tipoReceta 'Bebestibles' %}
                <option value="Bebestibles" selected="selected">Bebestibles</option>
                {% else %}
                <option value="Bebestibles">Bebestibles</option>
                {% endifequal %}
            </select>        
            <button class="btn btn-secondary" type="submit" name="btn-buscarReceta">Buscar</button>            
        </div>
    </form>



<!-- ---------------------------------------------- -->
    {% if not recetas %}
        <h4>No hay registro de recetas</h4>
        <br><br><br><br><br><br><br><br>
    {% else %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>Imagen</td>
                    <td>Nombre</td>
                    <td>Porciones</td>
                    <td>Tipo</td>
                    <td>Fecha de creación</td>
                    <td>Autor</td>
                </tr>
            </thead>
            <!--  -------------->
            <tbody>
                {% for r in recetas %}
                    <tr>
                        <td><img src=../../static/images/{{r.imagen}} style="width: 100px;" /> </td>
                        <td>{{ r.nombre_receta }}</td>
                        <td>{{ r.porciones }}</td>
                        <td>{{ r.tipo_receta }}</td>
                        <td>{{ r.fecha_creacion }}</td>
                        <td>{{ r.autor }}</td>
                        <td>
                        <a class="btn btn-primary" href="{% url 'editar_receta' r.id%}"> Editar </a>
                        <a class="btn btn-danger" href="/borrarReceta/{{r.id }}" onClick="return confirm('¿Seguro que quieres borrar la receta de {{r.nombre_receta}}?');">Borrar</a>
                        </td>
                    </tr>
            {% endfor %}        
        </tbody>
    </table>
    <br><br><br><br>
    {% endif %}

</div>

{% endblock %}